.p-local-nav {
  bs-font-size-line-height(14px);

  a {
    color: bs-light(bs-color-text);
    text-decoration: none;

    +bs-hover() {
      text-decoration: underline;;
    }
  }

  &__title {
    bs-margin(0, 0, .8);
    bs-font-size-line-height(21px);
    font-weight: normal;
  }

  &__menu {
    list-style: none;
    margin: 0;
    border-top: 1px solid #eee;
    padding: 0;
  }

  &__item {
    margin: 0;
    border-bottom: 1px solid #eee;
    bs-padding(.5, 0);
  }

  &__submenu {
    list-style: none;
    margin: 0;
    padding: 0 0 0 16px;
  }

  &__subitem {
    margin: 0;
    padding: 0;
  }
}
