.c-btn {
  @extend $_btn;
  _transition-all();
  border: none;
  border-radius: 3px;

  &--block {
    display: block;
  }

  &--launch, &--download {
    background-color: color-primary;
    color: #fff;

    +_hover() {
      background-color: _dark(color-primary);
    }

    .fa {
      margin-right: 8px;
    }
  }
}
