.c-section {
  bs-padding(3, 0);

  &--bg {
    background-color: #fcfcfc;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  &__title {
    bs-font-size-line-height(bs-base-font-size * 2);
    bs-margin(0, 0, 2);
    font-weight: normal;
    text-align: center;
  }

  &--border {
    border-bottom: 1px solid bs-lighter(bs-color-gray);
    bs-padding(2, 0);

    .c-section__h1 {
    bs-margin(0, 0, 1.5);
      @include bs-font-size-line-height(2.5rem);
    }

    .c-section__h2 {
      bs-margin(1.5, 0, 1);
      bs-font-size-line-height(2rem);
    }

    .c-section__h3 {
      bs-margin(1.5, 0, 1);
      bs-font-size-line-height(1.5rem);
    }
  }
}
