@import '../../../node_modules/getbasis-layout/src/stylus/layout/container';

.{bs-prefix}l-container {
  overflow: hidden;
}

.{bs-prefix}l-contents {
  margin-top: 62px; // header height
}

.{bs-prefix}l-sub {
  bs-padding-top(2);
}
