color-primary  = #00DAE6;
_font-family = Helvetica, Arial, sans-serif;
_color-text  = #444;

@import '../../node_modules/getbasis/src/stylus/basis';
@import 'core/mixin/*';
@import 'foundation/foundation';
@import 'layout/*';
@import '../../node_modules/getbasis-menu/src/stylus/object/component/menu';
@import 'object/component/*';
@import 'object/project/*';
