/*!
 * Name: Basis v5.5.0
 * Description: The flexbox based CSS framework.
 * Author: Takashi Kitajima ( inc2734 )
 * Author URL: http://2inc.org
 * GitHub Repository: https://github.com/sass-basis/basis
 * License: MIT
 */
._c-hamburger-btn {
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  height: 16px;
  width: 22px;
  padding: 5px;
  cursor: pointer;
}

._c-hamburger-btn__bar {
  position: absolute;
  right: 5px;
  left: 5px;
  display: block;
  height: 2px;
  background-color: #333;
  transition: transform 0.1s, background-color 0.1s;
}

._c-hamburger-btn__bar:nth-child(1) {
  top: 5px;
}

._c-hamburger-btn__bar:nth-child(2) {
  top: 12px;
}

._c-hamburger-btn__bar:nth-child(3) {
  top: 19px;
}

.is-close > ._c-hamburger-btn__bar:nth-child(1), .is-close > ._c-hamburger-btn__bar:nth-child(3) {
  top: 12px;
}

.is-close > ._c-hamburger-btn__bar:nth-child(1) {
  transform: rotate(45deg);
}

.is-close > ._c-hamburger-btn__bar:nth-child(2) {
  background-color: transparent;
}

.is-close > ._c-hamburger-btn__bar:nth-child(3) {
  transform: rotate(-45deg);
}

.c-btn {
  background-color: #fff;
  border: 1px solid #cccccc;
  color: #444;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  transition: background-color 0.1s ease-out;
  border: none;
  border-radius: 3px;
}

.c-btn--block {
  display: block;
}

.c-btn--launch, .c-btn--download {
  background-color: #00DAE6;
  color: #fff;
}

.c-btn--launch:hover, .c-btn--launch:focus, .c-btn--download:hover, .c-btn--download:focus {
  background-color: #00c2cd;
}

.c-btn--launch .fa, .c-btn--download .fa {
  margin-right: 8px;
}

.c-section {
  padding: 4.5rem 0;
}

.c-section--bg {
  background-color: #fcfcfc;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.c-section__title {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.1875;
  margin: 0;
  margin-bottom: 3rem;
  font-weight: normal;
  text-align: center;
}

.c-section--border {
  border-bottom: 1px solid #eeeeee;
  padding: 3rem 0;
}

.c-section--border .c-section__h1 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-top: 0rem;
  margin-bottom: 2.25rem;
}

.c-section--border .c-section__h2 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.1875;
  margin-top: 2.25rem;
  margin-bottom: 1.5rem;
}

.c-section--border .c-section__h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.33333;
  margin-top: 2.25rem;
  margin-bottom: 1.5rem;
}

.p-copyright {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.57143;
  padding: 1.5rem 0 3rem;
}

.p-copyright a {
  color: #999;
}

.p-entry-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.p-entry-list__item {
  margin: 1.5rem 0 0;
  padding: 0;
}

.p-entry-list__item:first-child {
  margin-top: 0;
}

.p-entry-list__item-date {
  display: block;
  font-weight: bold;
}

.p-entry-list ._c-media__figure {
  max-width: 25%;
}

.p-drawer-nav__menu {
  list-style: none;
  margin: 0;
  padding: 0.375rem 0 0;
}

.p-drawer-nav__submenu {
  list-style: none;
  margin: 0;
  margin-right: -1.5rem;
  padding-left: 1em;
}

.p-drawer-nav__item, .p-drawer-nav__subitem {
  position: relative;
}

.p-drawer-nav__item > a, .p-drawer-nav__subitem > a {
  transition: background-color 0.1s ease-out;
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.57143;
  text-decoration: none;
}

.p-drawer-nav__item > a:hover, .p-drawer-nav__item > a:focus, .p-drawer-nav__subitem > a:hover, .p-drawer-nav__subitem > a:focus {
  color: #ccc;
}

.p-drawer-nav__item {
  padding: 0.75rem 1.5rem 0;
}

.p-drawer-nav__subitem {
  padding: 0.75rem 0 0;
}

.p-drawer-nav ._c-drawer__toggle {
  position: absolute;
  top: 0.75rem;
  right: 5px;
  bottom: 0;
  height: 1.5rem;
  width: 1.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.p-drawer-nav ._c-drawer__toggle > .fa {
  color: #fff;
  transition: transform 0.1s ease-out;
}

.p-drawer-nav [aria-expanded="true"] > ._c-drawer__toggle > .fa {
  transform: rotate(90deg);
}

.p-footer-nav {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.57143;
}

.p-footer-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.p-footer-nav__item {
  margin: 0;
  padding: 0 0 0.75rem;
}

.p-footer-nav__item a {
  text-decoration: none;
}

.p-global-nav {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.57143;
}

.p-global-nav ._c-menu__submenu {
  background-color: rgba(17, 17, 17, 0.8);
}

.p-global-nav ._c-menu__subitem:hover, .p-global-nav ._c-menu__subitem:focus {
  background-color: rgba(255, 255, 255, 0.05);
}

._l-header--is-scrolled .p-global-nav ._c-menu__item:hover, ._l-header--is-scrolled .p-global-nav ._c-menu__item:focus {
  background-color: rgba(255, 255, 255, 0.05);
}

.p-hero {
  background-color: #00DAE6;
  background: linear-gradient(135deg, #00DAE6 40%, #00aab3 100%);
  min-height: 50vh;
}

.p-hero, .p-hero a {
  color: #fff;
}

.p-hero ._c-hero__header {
  padding: 0.75rem 0;
}

.p-hero ._c-hero__content {
  text-align: center;
}

.p-hero__title {
  margin: 0 0 1rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
}

.p-hero__title > img {
  margin-right: 8px;
  vertical-align: baseline;
  height: 36px;
}

.p-hero__version {
  margin-bottom: 1.5rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.57143;
  opacity: .8;
}

.p-hero__description {
  margin-bottom: 1.5rem;
}

.p-media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  background-color: transparent;
  box-shadow: none;
}

.p-media__figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 0.75rem;
}

.p-media__figure > img {
  vertical-align: top;
  width: 100%;
}

.p-media__figure--circle {
  width: 51%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 100%;
  position: relative;
  z-index: 0;
}

.p-media__figure--circle:before {
  content: '';
  display: block;
  padding: 100% 0 0;
}

.p-media__figure--circle > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
  max-width: none;
}

.p-media__body {
  padding: 0.75rem 1.5rem;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 0;
  padding: 0;
}

.p-media__body > :first-child {
  margin-top: 0;
}

.p-media__title {
  margin: 0;
  color: #777;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
  padding: 0;
}

.p-media__lead {
  margin: 0;
  padding: 0;
  color: #999;
}

.p-media__content {
  margin: 0.75rem 0 0;
  padding: 0;
}

.p-local-nav {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.57143;
}

.p-local-nav a {
  color: #777777;
  text-decoration: none;
}

.p-local-nav a:hover, .p-local-nav a:focus {
  text-decoration: underline;
}

.p-local-nav__title {
  margin: 0;
  margin-bottom: 1.2rem;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.38095;
  font-weight: normal;
}

.p-local-nav__menu {
  list-style: none;
  margin: 0;
  border-top: 1px solid #eee;
  padding: 0;
}

.p-local-nav__item {
  margin: 0;
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
}

.p-local-nav__submenu {
  list-style: none;
  margin: 0;
  padding: 0 0 0 16px;
}

.p-local-nav__subitem {
  margin: 0;
  padding: 0;
}

.p-site-branding__title {
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.1875;
  margin: 0;
}

.p-site-branding__title img {
  margin-right: 8px;
  vertical-align: baseline;
  height: 24px;
}

.p-social-nav {
  margin: 0;
  list-style: none;
  padding: 0;
}

.p-social-nav__item {
  margin: 0 0.5rem 0 0;
  display: inline-block;
  padding: 0;
}

/** ==================================================
 * foundation
 * ================================================ */
.hljs, pre {
  background-color: #15191d;
}

pre {
  border: none;
}

/** ==================================================
 * Component
 * ================================================ */
/**
 * c-dummy-image
 */
.c-dummy-image {
  background-color: #333;
  width: 100px;
}

.c-dummy-image::before {
  content: '';
  display: block;
  padding-top: 75%;
}

/**
 * c-animate-image
 */
.c-animate-image {
  background-color: #e74c3c;
  height: 150px;
  width: 150px;
  opacity: 1;
}

.c-animate-image:hover, .c-animate-image:active, .c-animate-image:focus {
  width: 100%;
  opacity: 0.5;
}

/**
 * c-progress-bar
 */
.c-progress-bar {
  background-color: #e74c3c;
  width: 25%;
  height: 20px;
}

.c-progress-bar:hover, .c-progress-bar:active, .c-progress-bar:focus {
  width: 100%;
}

/**
 * c-fade-image
 */
.c-fade-image {
  background-color: #e74c3c;
  height: 150px;
  width: 150px;
  opacity: 1;
}

.c-fade-image:hover, .c-fade-image:active, .c-fade-image:focus {
  opacity: 0.5;
}

/**
 * table
 */
.table {
  width: 100%;
}

.table th, .table td {
  padding: 8px;
}

.table--bordered {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.table--bordered th, .table--bordered td {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

/** ==================================================
 * project
 * ================================================ */
/**
 * p-show-grid
 */
.p-show-grid .p-show-grid__item {
  background-color: #00DAE6;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding: 16px;
}

.p-show-grid .p-show-grid__item--cloudy {
  background-color: #eee;
  color: #999;
}

/**
 * p-scroll-top
 */
.p-scroll-top {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.p-scroll-top > a {
  display: block;
  height: 48px;
  width: 48px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: relative;
}

.p-scroll-top > a > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/** ==================================================
 * irregular
 * ================================================ */
.github-fork-ribbon {
  background-color: #f3540c !important;
}
