<% var title = 'Placeholder' %>
<% is_front_page = false %>
<% include _layout/_head %>
<body class="_l-body" data-sticky-footer="true">
<div class="p-drawer-nav" data-c="drawer">

  <% include _object/_project/_drawer %>

  <div id="container" class="_l-container" data-l="container">
    <% include _layout/_header %>

    <div id="contents" class="_l-contents" data-l="contents">
      <% include _object/_project/_hero %>

      <div class="_c-container">
        <div class="_c-row _c-row--margin-l">
          <div class="_c-row__col _c-row__col--1-1 _c-row__col--lg-3-4">
            <main id="main" class="_l-main" role="main">

              <section class="c-section c-section--border" id="alert">
                <h1 class="c-section__h1">Alert</h1>

                <pre><code>//
// Alert component
//
.c-alert {
  @extend $_alert;
}

&lt;alert class="c-alert" role="alert"&gt;
  ...
&lt;/alert&gt;</code></pre>
              </section>

              <section class="c-section c-section--border" id="button">
                <h1 class="c-section__h1">Button</h1>

                <pre><code>//
// Button component
//
.c-btn {
  @extend $_btn;
}

&lt;a class="c-btn" role="button"&gt;btn&lt;/a&gt;</code></pre>
              </section>

              <section class="c-section c-section--border" id="checkbox">
                <h1 class="c-section__h1">Checkbox</h1>

                <pre><code>//
// Checkbox component
//
.c-checkbox {
  @extend $_checkbox;
}

&lt;span class="c-checkbox" data-c="checkbox"&gt;
  &lt;input type="checkbox"&gt;
  &lt;label data-c="checkbox__label"&gt;Label&lt;/label&gt;
&lt;/span&gt;</code></pre>
              </section>

              <section class="c-section c-section--border" id="wrappers">
                <h1 class="c-section__h1">Wrappers</h1>
                <h2 class="c-section__h2">Container</h2>

                <pre><code>//
// Container component
//
.c-container {
  @extend $_container;
}

&lt;div class="c-container"&gt;
  ...
&lt;/div&gt;</code></pre>

                <h2 class="c-section__h2">Fluid container</h2>

                <pre><code>//
// Fluid container component
//
.c-container-fluid {
  @extend $_container-fluid;
}

&lt;div class="c-container-fluid"&gt;
  ...
&lt;/div&gt;</code></pre>
              </section>

              <section class="c-section c-section--border" id="flex-media">
                <h1 class="c-section__h1">Flexible media</h1>

                <pre><code>//
// Media component. When smartphone size, vertically aligned.
//
.c-flex-media {
  @extend $_flex-media;
}

&lt;div class="c-flex-media"&gt;
 &lt;div class="c-flex-media__figure"&gt;
   &lt;img ...&gt;
 &lt;/div&gt;
 &lt;div class="c-flex-media__body"&gt;
   ...
 &lt;/div&gt;
&lt;/div&gt;</code></pre>
              </section>

              <section class="c-section c-section--border" id="form-control">
                <h1 class="c-section__h1">Form control</h1>

                <pre><code>//
// Form control component
//
.c-form-control {
  @extend $_form-control;
}

&lt;input type="text" class="c-form-control"&gt;</code></pre>
              </section>

              <section class="c-section c-section--border" id="hero">
                <h1 class="c-section__h1">Hero</h1>

                <pre><code>//
// Hero component
//
.c-hero {
  @extend $_hero;
}

&lt;div class="c-hero"&gt;
  &lt;div class="c-hero__header"&gt;&lt;/div&gt;
  &lt;div class="c-hero__content"&gt;&lt;/div&gt;
  &lt;div class="c-hero__footer"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
              </section>

              <section class="c-section c-section--border" id="input-group">
                <h1 class="c-section__h1">Input group</h1>

                <pre><code>//
// Input group component
//
.c-input-group {
  @extend $_input-group;
}

&lt;div class="c-input-group"&gt;
  &lt;div class="c-input-group__addon">@&lt;/div&gt;
  &lt;div class="c-input-group__field"&gt;
    &lt;input type="text"&gt;
  &lt;/div&gt;
  &lt;button class="c-input-group__btn">Go&lt;/button&gt;
&lt;/div&gt;</code></pre>
              </section>

              <section class="c-section c-section--border" id="media">
                <h1 class="c-section__h1">Media</h1>

                <pre><code>//
// Media component
//
.c-media {
  @extend $_media;
}

&lt;div class="c-media"&gt;
  &lt;div class="c-media__figure"&gt;
    &lt;img ...&gt;
  &lt;/div&gt;
  &lt;div class="c-media__body"&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
              </section>

              <section class="c-section c-section--border" id="radio">
                <h1 class="c-section__h1">Radio</h1>

                <pre><code>//
// Radio component
//
.c-radio {
  @extend $_radio;
}

&lt;span class="c-radio" data-c="radio"&gt;
  &lt;input type="radio"&gt;
  &lt;label data-c="radio__label"&gt;Label&lt;/label&gt;
&lt;/span&gt;</code></pre>
              </section>

              <section class="c-section c-section--border" id="grid">
                <h1 class="c-section__h1">Grid</h1>

                <pre><code>//
// Grid component
//
.c-row {
  @extend $_row;
}

&lt;div class="c-row"&gt;
 &lt;div class="c-row__col"&gt;
   ...
 &lt;/div&gt;
&lt;/div&gt;</code></pre>
              </section>

              <section class="c-section c-section--border" id="select">
                <h1 class="c-section__h1">Select</h1>

                <pre><code>//
// Select component
//
.c-select {
  @extend $_select;
}

&lt;span class="c-select"&gt;
  &lt;select&gt;&lt;/select&gt;
&lt;/span&gt;</code></pre>
              </section>

            </main>
          </div>
          <div class="_c-row__col _c-row__col--1-1 _c-row__col--lg-1-4">
            <aside id="sub" class="_l-sub" role="complementary">

              <section class="p-local-nav">
                <h1 class="p-local-nav__title">Placeholder</h1>
                <ul class="p-local-nav__menu">
                  <li class="p-local-nav__item"><a href="#alert">Alert</a></li></li>
	                <li class="p-local-nav__item"><a href="#button">Button</a></li></li>
	                <li class="p-local-nav__item"><a href="#checkbox">Checkbox</a></li></li>
	                <li class="p-local-nav__item"><a href="#wrappers">Wrappers</a></li></li>
	                <li class="p-local-nav__item"><a href="#flex-media">Flexible media</a></li></li>
	                <li class="p-local-nav__item"><a href="#form-control">Form Control</a></li></li>
	                <li class="p-local-nav__item"><a href="#hero">Hero</a></li></li>
	                <li class="p-local-nav__item"><a href="#input-group">Input group</a></li></li>
	                <li class="p-local-nav__item"><a href="#media">Media</a></li></li>
	                <li class="p-local-nav__item"><a href="#radio">Radio</a></li></li>
	                <li class="p-local-nav__item"><a href="#grid">Grid</a></li></li>
	                <li class="p-local-nav__item"><a href="#select">Select</a></li></li>
                </ul>
              </section>

            </aside>
          </div>
        </div>
      </div>
    </div>

    <% include _layout/_footer %>
  </div>
</div>
<script src="/assets/js/app.js"></script>
</body>
</html>
