<div class="_c-loading" data-c="loading" data-loading-effect="fade">
	<div class="_c-loading__item" data-c="loading__item">
		<div class="_c-loading-icon">
			<div class="_c-loading-icon__bar"></div>
			<div class="_c-loading-icon__bar"></div>
			<div class="_c-loading-icon__bar"></div>
		</div>
	</div>
</div>
