<div class="_c-page-effect" data-c="page-effect" data-page-effect="fade">
	<div class="_c-page-effect__item">
		<div class="_c-loading-icon">
			<div class="_c-loading-icon__bar"></div>
			<div class="_c-loading-icon__bar"></div>
			<div class="_c-loading-icon__bar"></div>
		</div>
	</div>
</div>
